*{
    text-align: center;
    /* box-sizing: border-box; */
}

#avatarImg {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    border-radius: 50%;
    border: 2px solid chocolate;
}