body{
    overflow-x: hidden;
}
.display-4{
    display: inline;
    font-size: 35px;
}
form{
    display: inline;
}
#avatarImg {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    border: 7.5px double black;
}

#username { 
    border-radius: 70px;
    text-align: center;
    box-shadow: 0px 3px 10px -6px #888888;
}

#username::placeholder{
    text-align: center;
}
#username:focus{
    box-shadow: 0px 3px 7.5px -2px #888888;
    border-color: #888888 ;

}

#username:focus::placeholder{
    color: white;
}

#searchBtn{
    max-width: 50px; 
    
}


nav{
    margin: 0px;
    padding: 20px;
}

#mainNav{
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 999;
}

.temp{
    height: 300px;
    width: 300px;
    background-color: teal;
}

br{
    line-height: 1px;
    font-size: 50%;
}

#profileName{
    margin-top: 35px;
}


.profileText{
    margin-left: 4vh;
}

#dropdownMenu {
    border: 1px solid black;
}

.repoCard{

    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15vw;
    cursor: pointer;
}

.repoName{
    margin-top: 10px;
}
.repoLastUpdate{
    margin: 0;
}

.repoLanguages{
    margin: 5px 0  20px 5px;
    font-size: 90%;
}
.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  .slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: white;
    border: 1px double black;
    cursor: pointer;
  }

  /* #forkHeading{
      
  } */
